:root {
    --columns: 1;
    --rows: 1;
}

body {
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: 150px 150px 1fr 150px 150px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . buttons ."
    ". . board . ."
    ". . . . ."
    ". . . . .";
    width: 100vw;
    height: 100vh;
}

#buttons {
    grid-area: buttons;
    align-self: center;
    justify-self: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    justify-self: center;
    width: 600px;
    height: 600px;
    border: solid;
    grid-area: board;
}

.box {
    border: solid 1px;
}