:root {
    --columns: 1;
    --rows: 1;
}

body {
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: 150px 150px 1fr 150px 150px;
    grid-template-rows: 1fr 50px 50px 50px 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . . ."
    ". . board resetBtn ."
    ". . . magicMode ."
    ". . . fadingMode .";
    width: 100vw;
    height: 100vh;
}

#resetBtn {
    grid-area: resetBtn;
    align-self: center;
    justify-self: center;
}

#magicMode {
    grid-area: magicMode;
    align-self: center;
    justify-self: center;
    background-color: #7fd82b;
    background-image: linear-gradient(319deg, #7fd82b 0%, #ef4063 37%, #e557c6 100%);
}

#fadingMode {
    grid-area: fadingMode;
    align-self: center;
    justify-self: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    justify-self: center;
    width: 600px;
    height: 600px;
    border: solid;
    grid-area: board;
}

.box {
    border: solid 1px;
    border-color: #d9ddd7;
}

.button {
    width: 100px;
    height: 30px;
}